.CodeMirror {
    font-size: 18px !important;
}

.cm-s-default.CodeMirror { background: #304148 !important; color: #f8f8f2 !important; }
.cm-s-default div.CodeMirror-selected { background: rgba(101, 115, 126, 0.33) !important; }
.cm-s-default .CodeMirror-line::selection, .cm-s-default .CodeMirror-line > span::selection, .cm-s-default .CodeMirror-line > span > span::selection { background: rgba(101, 115, 126, 0.33) !important; }
.cm-s-default .CodeMirror-line::-moz-selection, .cm-s-default .CodeMirror-line > span::-moz-selection, .cm-s-default .CodeMirror-line > span > span::-moz-selection { background: rgba(101, 115, 126, 0.33) !important; }
.cm-s-default .CodeMirror-gutters { background: #304148; border-right: 10px !important; }
.cm-s-default .CodeMirror-guttermarker { color: white !important; }
.cm-s-default .CodeMirror-guttermarker-subtle { color: #d0d0d0 !important; }
.cm-s-default .CodeMirror-linenumber { color: #d0d0d0 !important; }
.cm-s-default .CodeMirror-cursor { border-left: 1px solid #f8f8f0 !important; }

.cm-s-default span.cm-comment { color: #77ae83 !important; }
.cm-s-default span.cm-atom { color: #ff6ced !important; }
.cm-s-default span.cm-number { color: #F99157 !important; }

.cm-s-default span.cm-property { color: #99C794 !important; }
.cm-s-default span.cm-attribute,
.cm-s-default span.cm-keyword { color: #C594C5 !important; }
.cm-s-default span.cm-builtin { color: #66d9ef !important; }
.cm-s-default span.cm-string { color: #99C794 !important; }

.cm-s-default span.cm-variable,
.cm-s-default span.cm-variable-2,
.cm-s-default span.cm-variable-3 { color: #f8f8f2 !important; }
.cm-s-default span.cm-def { color: #6699CC !important; }
.cm-s-default span.cm-bracket { color: #5FB3B3 !important; }
.cm-s-default span.cm-tag { color: #C594C5 !important; }
.cm-s-default span.cm-header { color: #C594C5 !important; }
.cm-s-default span.cm-link { color: #C594C5 !important; }
.cm-s-default span.cm-error { background: #C594C5 !important; color: #f8f8f0 !important; }

.cm-s-default .CodeMirror-activeline-background { background: rgba(101, 115, 126, 0.33) !important; }
.cm-s-default .CodeMirror-matchingbracket {
  text-decoration: underline !important;
  color: white !important;
}

.cm-s-default .cm-meta {
    color: #27b4ad !important;
}

.codeAndCanvas .ge_editor {
    background: #304148 !important;
}