body {
    background-color:#191a15 !important;
    color:#7b8383 !important;
    line-height: 1.5 !important;
}

h1, h2, h3, a {
    color:#778a76 !important;
}

a:hover {
    color:#86c984 !important;
}

a {
    border-bottom:none !important;
    text-decoration:none !important;
    font-weight:bold !important;
    letter-spacing:1px !important;
}

#content {
    width:88% !important;
}

hr {
    color:transparent !important;
    border:none !important;
    border-bottom: 1px solid #3e4135 !important;
}

footer {
    color: #afb9b9 !important;
}

.shopify-buy__product-description {
    color: #c0a4a4 !important;
}

img {
    background-color:#ffeed8 !important;
}

/* scrollbars */

code::-webkit-scrollbar {
    width: 10px !important; 
    height: 10px !important;
  }
  code::-webkit-scrollbar-track {
    background: transparent !important; 
  }
  code::-webkit-scrollbar-thumb {
    background-color: #6e8676 !important;  
    border-radius: 2px !important;      
  }
  
  body::-webkit-scrollbar {
    width: 12px !important; 
    height: 12px !important;              
  }
  body::-webkit-scrollbar-track {
    background: transparent !important;       
  }
  body::-webkit-scrollbar-thumb {
    background-color: #6e8676 !important;   
    border-radius: 2px !important;      
  }

/* code blocks */

.hljs-number, .hljs-literal, .hljs-variable, .hljs-template-variable, .hljs-tag .hljs-attr {
    color: #c7e8ff !important;
}

.glslGallery_label,
.caption {
    color: #d5b6b6 !important;
}

code.hljs {
    background-color: #2c362c !important;
    font-size: 18px !important;
}

.hljs-keyword, 
.hljs-selector-tag, 
.hljs-subst {
    color: #10ff00 !important;
}

.hljs-type, .hljs-class .hljs-title {
    color: #eac96c !important;
}

.hljs-comment, .hljs-quote {
    color: #9cc79c !important;
}

.hljs-meta {
    color: #6e9773 !important;
}

.hljs {
    color: #c8ffde !important;
}

.hljs-built_in, .hljs-builtin-name {
    color: #fd79ff !important;
}

.hljs-title, .hljs-section, .hljs-selector-id {
    color: #ff5858 !important;
}

.hljs-string, .hljs-doctag {
    color: #ff6c91 !important;
}

.hljs-tag, .hljs-name, .hljs-attribute {
    color: #ffd3d3 !important;
}